<div id="poem_content">
    <h1 class="title">
      <%= @poem.title %>
    </h1>

    <p class="date">
      Submitted <%= time_ago_in_words(@poem.created_at) %> ago
      <% if user_signed_in? %>
          | <%= link_to 'Edit', edit_poem_path(@poem) %>
          | <%= link_to 'Delete', poem_path(@poem), method: :delete, data: { confirm: 'Are you sure?' }  %>
      <% end %>
    </p>

    <p class="body">
      <% @poem.body.split("\n").each do |line| %>
        <%= line %><br>
          <% end %>
    </p>

  <div id="comments">
    <h2><%= @poem.comments.count %> Comments</h2>
    <%= render @poem.comments %>

    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
  </div>


</div>